/* reset the box model, see https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:root {
    --gstars-blue:          #0000aa;
    --pageHeight:           800px;
    --pageWidth:            auto;
    --menuWidth:            200px;
    --workspaceWidth:       calc( 100% - var(--paletteWidth) - 10% ); /* compute to be remailing space minus 10% to avoid wrapping */
    --paletteWidth:         150px;

}

.layout-row {
    background-color:   lightskyblue;
    border:             1px solid black;
    height:             80px;
    padding:            5px;
    width:              100%;

    display:            flex;
    justify-content:    space-around;
    align-items:        center;
}


.cell-col-6 {
    background-color:   white;
    border:     1px solid black;
    xdisplay:    inline-block;
    height:     80%;
    margin:     5px;
    padding:    5px;
    width:      50%;
}


body {
    font-family: "segoe ui light", "arial", "sans serif";
}

#page {
    border:     2px solid black;
    display:    flex;
    height:     var( --pageHeight );
    padding:    5px;
    width:      100%;
    min-width:  200px;
}

#banner {
    border:         1px solid black;
    height:         80px;
    padding:        10px;
    width:          100%;
}

#bannerTitle {
    font-size:      14pt;
}


#menu {
    border:         1px dotted blue;
    height:         95%;
    padding:        5px;
    width:          var( --menuWidth );
    xvertical-align: top;
}

#menuTitle {
    font-size: 14pt;
    font-weight: bold;
}

#workspace {
    border:     2pt dashed var( --gstars-blue );
    height:    95%;
    padding:    5px;
    width:      var( --workspaceWidth );
    min-width:  200px;
    xvertical-align: top;
    
}

#workspaceTitle {
    font-size:      14pt;
    font-weight:    bold;
}

.buildable, .placedItem {
    border: 1px solid var( --gstars-blue );
    height: 20pt;
    margin: 5pt;
    padding: 2pt;
    width: 75pt;
}

.palette {
    border:     1pt solid var( --gstars-blue );
    height:     auto;
    padding:    5px;
    width:      80%;
}

.componentTitle {
    float:          left;
    font-size:      10pt;
    font-weight:    normal;
}

.icon-remove {
    cursor: pointer;
    font-weight: bold;
    float: right;
    padding: 2px;
}


#menu .buildable {
}
