:root {
    --gstars-blue:          #0000aa;
    --pageHeight:           800px;
    --pageWidth:            auto;
    --menuWidth:            200px;
    --workspaceWidth:       calc( 100% - var(--paletteWidth) - 10% ); /* compute to be remailing space minus 10% to avoid wrapping */
    --paletteWidth:         150px;
}

body {
    font-family: "segoe ui light", "arial", "sans serif";
}

#page {
    border:     2px solid black;
    height:     var( --pageHeight );
    padding:    5px;
    width:      100%;
    min-width:  200px;
}

#menu {
    border:         1px dotted blue;
    display:        inline-block;
    height:         95%;
    padding:        5px;
    width:          var( --menuWidth );
    vertical-align: top;
}

#menuTitle {
    font-size: 14pt;
    font-weight: bold;
}

#workspace {
    border:     2pt dashed var( --gstars-blue );
    display:    inline-block;
    height:    95%;
    padding:    5px;
    width:      var( --workspaceWidth );
    min-width:  200px;
    vertical-align: top;
    
}

#workspaceTitle {
    font-size:      14pt;
    font-weight:    bold;
}

.buildable, .placedItem {
    border: 1px solid var( --gstars-blue );
    height: 20pt;
    margin: 5pt;
    padding: 2pt;
    width: 75pt;
}

.palette {
    border:     1pt solid var( --gstars-blue );
    display:    inline-block;
    height:     auto;
    padding:    5px;
    width:      80%;
}

.componentTitle {
    float:          left;
    font-size:      10pt;
    font-weight:    normal;
}

.icon-remove {
    cursor: pointer;
    font-weight: bold;
    float: right;
    padding: 2px;
}


#menu .buildable {
    display:    inline-block;
}
