
:root {
    --gstars-blue:          #0000aa;

    --defaultGridHeight:    80px;

    --pageHeight:           100%;
    --pageWidth:            auto;
    --pageMinWidth:         400px;

    --bannerHeight:         80px;
    --bannerWidth:          100%;

    --menuHeight:           calc( 100% - var( --bannerHeight ));
    --menuWidth:            160px;

    --workspaceHeight:      var( --menuHeight );
    --workspaceWidth:       calc( 100% - var( --menuWidth ));

    --paletteWidth:         100%;
    --paletteHeight:        auto;
}

/* reset the box model, see https://css-tricks.com/box-sizing/ */
html {
  box-sizing:       border-box;
  height:           100%;
}
*, *:before, *:after {
  box-sizing:       inherit;
}

body {
    font-family:    "segoe ui light", "arial", "sans serif";
    height:         100%;
}

#page {
    border:         1px solid black;
    display:        flex;
    flex-direction: row;
    flex-wrap:      wrap;
    height:         var( --pageHeight );
    min-width:      var( --pageMinWidth );
    padding:        5px;
    width:          var( --pageWidth );
}

#banner {
    border-color:   var( --gstars-blue );
    border-style:   solid;
    border-width:   1px 1px 1px 1px;
    display:        flex;
    flex-direction: row;
    flex-wrap:      wrap;    
    height:         var( --bannerHeight );
    padding:        10px;
    width:          var( --bannerWidth );
}

#bannerTitle {
    font-size:      14pt;
}

#menu {
    border-color:   var( --gstars-blue );
    border-style:   solid;
    border-width:   0px 0px 1px 1px;
    display:        flex;
    flex-direction: column;
    flex-wrap:      nowrap;     
    height:         var( --menuHeight );
    xpadding:        5px;
    width:          var( --menuWidth );
}

#menuTitle {
    font-size: 14pt;
    font-weight: bold;
}

#workspace {
    border-color:   var( --gstars-blue );
    border-style:   solid;
    border-width:   0px 1px 1px 1px;

    justify-content: flex-start;
    display:        flex;
    flex-direction: column;
    flex-wrap:      nowrap;        

    height:         var( --workspaceHeight );
    padding:        5px;
    width:          var( --workspaceWidth );
    min-width:      200px;    
}

#workspaceTitle {
    font-size:      14pt;
    font-weight:    bold;
}

.palette {
    border:     0pt solid var( --gstars-blue );
    height:     var( --paletteHeight );
    padding:    5px;
    width:      var( --paletteWidth );
}


.layout-row {
    background-color:   lightskyblue;
    border:             1px solid var( --gstars-blue );
    height:             var( --defaultGridHeight );
    padding:            5px;
    width:              100%;

    align-items:        center;
    display:            flex;
    flex-direction:     row;
    flex-wrap:          nowrap;
    justify-content:    space-around;
}

.cell-col-6 {
    background-color:   white;
    border:     1px solid black;
    height:     80%;
    margin:     5px;
    padding:    5px;
    width:      50%;
}

[class*="palette-item-"] {  /* every element where class contains "palette-item-ttt..." */
    border: 1px solid var( --gstars-blue );
    height: 20pt;
    margin: 5pt;
    padding: 2pt;
    width: 75pt;
}

.componentTitle {
    float:          left;
    font-size:      10pt;
    font-weight:    normal;
}

.icon-remove {
    cursor: pointer;
    font-weight: bold;
    float: right;
    padding: 2px;
}



